@model e_Recarga.Models.EditDadosPessoaisViewModel
@{
    ViewBag.Title = "Dados Pessoais";
}


<div class="container top-pad">
    <h2>@ViewBag.Title.</h2>
    <div class="form-row">
        <div class="col">
            @using (Html.BeginForm("EditDadosPessoais", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Editar Dados.</h4>
                <hr />
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-8 mb-3">
                        @Html.LabelFor(m => m.Nome)
                        @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Pais, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Pais, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Localidade, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Localidade, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Concelho, new { @class = " control-label" })
                        @Html.TextBoxFor(m => m.Concelho, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Freguesia, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Freguesia, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Morada, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Morada, new { @class = "form-control" })
                    </div>
                    <div class="col-md-3 mb-3">
                        @Html.LabelFor(m => m.CodigoPostal, new { @class = " control-label" })

                        @Html.TextBoxFor(m => m.CodigoPostal, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Telefone, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control" })
                    </div>
                    <div class="col-md-4 mb-3">
                        @Html.LabelFor(m => m.Telemovel, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Telemovel, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        @Html.LabelFor(m => m.NIF, new { @class = "control-label"})
                        @Html.TextBoxFor(m => m.NIF, new { @class = "form-control", @readonly = "readonly"  })
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        @Html.LabelFor(m => m.DataNascimento, new { @class = "control-label" })
                        @Html.EditorFor(m => m.DataNascimento, new { @class = "form-control", @type = "date", @Value = Model.DataNascimento })
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-offset-2 col-md-10 mb-5">
                        <input type="submit" class="btn btn-outline-primary" value="Editar" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-offset-2 col-md-10 mb-5">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAddVeiculo">Adicionar Veiculo</button>
                    </div>
                </div>
            }
        </div>
    </div>

    @Html.Partial("~/Views//_AddCarro.cshtml", Model.veiculosViewModel)

    @Html.Partial("~/Views/Veiculos/_listVeiculos.cshtml", Model.EnumVeiculosViewModel)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
