@model e_Recarga.Models.EstacaoCarregamento

@{
    ViewBag.Title = "Details";
}

<div class="container top-pad">
    <h2>@ViewBag.Title.</h2>
    <div class="row">

        <div>
            <h4>EstacaoCarregamento</h4>
            <hr />
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Designacao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Designacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Latitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Latitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Longitude)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Longitude)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CodigoPostal)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CodigoPostal)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Localidade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Localidade)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConcelhoLocalizacao.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConcelhoLocalizacao.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.UtilizadorEstacao.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UtilizadorEstacao.Nome)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
