@model e_Recarga.Models.ViewModels.DetailReservaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UtilizadorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilizadorReserva.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstacaoCarregamentoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstacaoCarregamento.Designacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TomadaPostoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomadaPostoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataInicioReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicioReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataFimReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFimReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataReserva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataReserva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cancelada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cancelada)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index")
</p>
