@model IEnumerable<e_Recarga.Models.ViewModels.IndexReservaViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container top-pad">
    <h2>@ViewBag.Title.</h2>

<div class="row col">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstacaoCarregamentoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TomadaPostoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicioReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFimReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstacaoCarregamento.Designacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TomadaPostoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicioReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFimReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @if (item.Cancelada == true)
            {
                @Html.DisplayName("Cancelada")
            }
        </td>
        <td>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("RedeProprietaria"))
            {
                @Html.ActionLink("Details", "Details", new { id = item.ReservaID })
            }
            @if (item.Cancelada == false)
            {
                @Html.ActionLink("Cancelar", "CancelarReserva", new { id = item.ReservaID }, new { onclick = "return confirm('Tem a certeza que pretende cancelar a reserva?');" })
            }

        </td>
    </tr>
}

    </table>
</div>
</div>
