@model e_Recarga.Models.Posto

@{
    ViewBag.Title = "Create";
}


<div class="container top-pad">
    <h2>Create</h2>
    <div class="row">
        <div class="col">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Posto</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        @Html.LabelFor(model => model.CorrenteCarregamento, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3 mb-3 mb-3">
                            @Html.EditorFor(model => model.CorrenteCarregamento, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CorrenteCarregamento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-row">
                        @Html.LabelFor(model => model.EstacaoCarregamentoID, "Estacao Carregamento", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3 mb-3 mb-3">
                            @Html.DropDownList("EstacaoCarregamentoID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.EstacaoCarregamentoID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-outline-primary" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
