@model e_Recarga.Models.ViewModels.DetalhesPostoViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container top-pad">
    <h4>Posto</h4>
    <div class="col">
        <div class="row">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.correnteCarregamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.correnteCarregamento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.estacaoDeCarregamento)
                </dt>

                <dd>
                    @if (String.IsNullOrEmpty(Model.estacaoDeCarregamento))
                    {
                        @Html.Label("Utilizador sem nome")
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.estacaoDeCarregamento)
                    }
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.numeroDeTomadas)
                </dt>

                <dd>
                    @if (Model.numeroDeTomadas == 0)
                    {
                        @Html.Label("Sem nenhuma tomada!!")
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.numeroDeTomadas)
                    }
                </dd>

            </dl>
        </div>
        <div class="row">
            <div class="form-row">
                <div class="col-md-offset-2 col-md-10 mb-5">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalAddTomadaPosto">Tomada Posto</button>
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

@Html.Partial("~/Views/TomadaPosto/_AddTomadaPosto.cshtml", Model.tomadaPostoViewModel)