@model e_Recarga.Models.ViewModels.TomadaPostoViewModel
<div class="modal fade" id="modalAddTomadaPosto" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @using (Html.BeginForm("Create", "TomadaPosto", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="form-horizontal">
                        <h4>Tomada</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.codeDoPosto)
                        <div class="form-row">
                            @Html.LabelFor(model => model.PrecoMinuto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3 mb-3 mb-3">
                                @Html.EditorFor(model => model.PrecoMinuto, new {  @class = "form-control" } )
                                @Html.ValidationMessageFor(model => model.PrecoMinuto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            @Html.LabelFor(model => model.TomadaID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3 mb-3">
                                @Html.DropDownListFor(model => model.TomadaID, new SelectList(Model.Tomadas, "ID", "TipoTomada"), "Selecione Tomada", htmlAttributes: new { @class = "form-control"})

                                @Html.ValidationMessageFor(model => model.Tomadas, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            @Html.LabelFor(model => model.PotenciaID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3 mb-3">
                                @Html.DropDownListFor(model => model.PotenciaID, new SelectList(Model.Potencias, "ID", "PotenciaNominalKw"), "Selecione Potencia", htmlAttributes: new { @class = "form-control"})

                                @Html.ValidationMessageFor(model => model.PotenciaID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <input type="button" value="Cancelar" class="btn btn-outline-primary" data-dismiss="modal" />
                </div>
            }
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal.id -->
