@model e_Recarga.Models.TomadaPosto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TomadaPosto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostoTomadaPosto.CorrenteCarregamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostoTomadaPosto.CorrenteCarregamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TomadaTomadaPosto.TipoTomada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TomadaTomadaPosto.TipoTomada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoMinuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoMinuto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotenciaTomadaPosto.PotenciaNominalKw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotenciaTomadaPosto.PotenciaNominalKw)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
