@model IEnumerable<e_Recarga.Models.TomadaPosto>

@{
    ViewBag.Title = "Index";
}

    <div class="container top-pad">
        <hr />
        <div class="mb-3">
            <h4>TomadasPosto Existentes</h4>
        </div>
        <hr />
        <div class="row">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PostoID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TomadaTomadaPosto.TipoTomada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrecoMinuto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PotenciaTomadaPosto.PotenciaNominalKw)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PostoID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TomadaTomadaPosto.TipoTomada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecoMinuto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PotenciaTomadaPosto.PotenciaNominalKw)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>