@model IEnumerable<e_Recarga.Models.TomadaPosto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TomadaTomadaPosto.TipoTomada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoMinuto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TomadaTomadaPosto.TipoTomada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoMinuto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
